:root {
font-size: 16px;
}

.desktop  {
  display: flex;
  align-items: center;
}

span {
  color: gray;
}

strong {
  color: black;
}

.div1 {
  background-color: #D8D8D8;
}

.div3 .courses-row {
  color: #EAEBEC;
}

.flex-content {
  display:flex;
  padding: 0 1.5rem;
}

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.flex-content .supporting-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

.content-image-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content-image-box .media-container {
  width: 35%;
}

.content-image-box .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;
}

header .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header .logo img {
  margin-right: .5rem;
}

header li {
  display: inline;
  padding-right: 1rem;
}

header li:last-child {
  padding-right: 0;
}

header .mobile {
  display: none;
}

.div1 .mobile {
  display:none;
}

.courses-row {
  display: flex;
}

.course {
  flex-basis: 33%;
  margin: 1rem;
  background-color: white;
}

@media only screen and (max-width: 550px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    justify-content: center;
  }
 /*.div1 .desktop {
    display: none;
  }*/
  .div1  {
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
  }
  .div2 .desktop {
    display: none;
  }
  .div2 .mobile {
    display: block;
    width: 100%;
    justify-content: center;
  }
  .div3 .desktop {
    display: none;
  }
  .div3 .mobile {
    display: block;
    width: 100%;
    justify-content: center;
  }
  .div4 .desktop {
    display: none;
  }
  .div4 .mobile {
    display: block;
    width: 100%;
    justify-content: center;
  }
}

.footer {
  color: grey;
}

h4.left {
  float: left;
  margin-left: 24px;
}

h4.right {
  float: right;
}
